@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
:root {
    --text-blue: rgba(9, 13, 41, 0.849);
}

body {
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700 !important;
    background: #f5f5f5fa;
    color: #0b0f24 !important;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px !important;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar {
    width: 12px;
    background: rgba(21, 163, 219, 0.637);
    backdrop-filter: blur(20px);
}

i {
    color: #0b0f24 !important;
}

h1 {
    font-size: 40px !important;
}

p {
    margin: 0 !important;
}

.navbar {
    height: 75px;
    z-index: 4 !important;
    background: #fff;
    font-size: 16px !important;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 38%), 0 2px 4px rgb(0 0 0 / 38%) !important;
}

.navbar-collapse {
    padding: 3rem;
}

.collapse .navbar-nav .nav-item .nav-link {
    color: #0e548d !important;
}

.collapse .navbar-nav .nav-item:hover {
    background-color: #97a4c275;
    border-radius: 10px;
}

.collapse .navbar-nav .nav-item .nav-link:hover {
    color: rgb(12, 15, 43) !important;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2a2b2c61;
}

.mask .content-mask {
    border-radius: 20px !important;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: radial-gradient(circle at 25.18% 50%, #bcd0ff 0, #0c82ed 50%, #0043cb 100%);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.884);
}

.mask .content-mask img {
    border-radius: 50%;
    position: relative;
    box-shadow: 0 4px 20px rgba(3, 29, 10, 0.877);
}

section {
    backdrop-filter: blur(50px);
}

.picassos-figure,
.contactos {
    background-image: radial-gradient(circle at 109.55% 50%, #418cf2 0, #0c82ed 50%, #0078e8 100%);
    font-size: 18px !important;
    color: #fff;
    backdrop-filter: blur(50px);
}

.games,
.picassos-figure,
.creatividad,
.contactos {
    padding: 5rem;
}

.contactos {
    padding-bottom: 5rem;
}

.title {
    margin: 5rem 0rem;
    font-weight: 800;
    color: var(--text-blue);
}

.card {
    box-shadow: 0px 4px 10px rgba(4, 12, 29, 0.658) !important;
    border-radius: 20px !important;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
}

.card-image .image {
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.card-image .image img {
    width: 100%;
    transition: .5s;
}

.card-image:hover .image img {
    opacity: .5;
    transform: translateX(30%);
}

.card-image .card-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #ffc107;
    padding: 0rem !important;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}

.card-image:hover .card-header {
    transform: perspective(2000px) rotateY(0deg);
}

.card-image .card-header .card-text {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-shadow {
    text-shadow: 0 3px 3px rgba(7, 7, 7, 0.993);
}

.card-productos {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-productos .slide.slide1 .productos-img {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c73df;
}

.card-productos .slide {
    border-radius: 20px;
    width: 300px;
    height: 250px;
    transition: 0.5s;
}

.card-productos .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.card-productos .slide .productos-img img {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    max-width: 100%;
    height: 290px;
}

.card-productos:hover .slide.slide1 {
    transform: translateY(0px);
}

.card-productos .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-150px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.card-productos:hover .slide.slide2 {
    transform: translateY(-10px);
}

.card-productos .slide.slide2 .productos-info span {
    text-align: center;
    color: #414141;
}

.isabell {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.img-contactos {
    width: 100%;
    height: auto;
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-contactos i {
    font-size: 40px;
}

form h3 {
    color: #0b0f24;
}

.footer {
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #0b0f24;
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.wrapper .icon span {
    position: relative;
    z-index: 2;
    height: 50px;
    width: 50px;
    display: block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    text-align: center;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    top: -70px;
}

.wrapper .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover span,
.wrapp .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .icon:hover span {
    color: #fff !important;
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
    background: #3B5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
    background: #46C1F6;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
    background: rgb(160, 41, 240);
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
    background: #de463b;
}

@media (max-width:720px) {
    h1 {
        font-size: 30px !important;
    }
    body,
    .picassos-figure,
    .contactos {
        font-size: 16px !important;
    }
    .navbar-brand img {
        height: 45px;
    }
    .carousel .carousel-inner .carousel-item img {
        width: 100% !important;
        height: 750px;
        object-fit: cover;
    }
    .navbar-collapse {
        background-color: rgba(220, 232, 238, 0.938);
        backdrop-filter: blur(10px);
        padding: 3rem;
        border-radius: 20px;
    }
    .navbar-collapse.collapse.show .navbar-nav .nav-item .nav-link {
        color: rgb(8, 11, 34) !important;
        font-weight: 700;
    }
    .mask .content-mask {
        background-image: radial-gradient(circle at 46.25% 28.73%, #d1ffff 0, #b3f4fe 12.5%, #8fe5f8 25%, #63d4f2 37.5%, #0cc1ed 50%, #00aee9 62.5%, #009ce6 75%, #008be3 87.5%, #007bdf 100%);
    }
    .games,
    .picassos-figure,
    .creatividad,
    .contactos {
        padding: 1rem;
    }
    .title {
        margin: 3rem 0;
    }
    .footer {
        padding: 1.5rem;
    }
}

@media (max-width:750px) {}